.section3{
    position: relative;
    padding:  80px 0px;
    background-color: $primarybg;
    .creators{
        width: 100%;
        @include dflex;
        flex-direction: column;
        &__caption{
            width: 100%;
            @include dflex;
            align-items: end;
            div{
                display: flex;
                flex-direction: column;
                h3{
                    color: $primarytext;
                    font-size: 38px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 120%; 
                    text-transform: capitalize;
                }
                p{
                    padding-top: 10px;
                    color: $primarytext;
                    font-size: 22px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 160%;
                    text-transform: capitalize;
                }
    
            }
            button{
                @include dflex;
                @include secondarybutton;
                a{
                   @include dflex;
                   width: 100%;
                   padding: 0px 50px;
                   gap: 10px;
                   p{
                       color: $primarytext;
                       text-align: center;
                       font-size: 16px;
                       font-style: normal;
                       font-weight: 600;
                       line-height: 140%; 
                   }
                }
            }
        }
        &__box{
            padding-top: 60px;
            display: grid;
            gap: 30px;
            grid-template-columns: repeat(4,1fr);
            &--item{
                padding: 20px 25px;
                background-color: $secondarybg;
                border-radius: 30px;
                div{
                    @include dflex;
                    flex-direction: column;
                    a{
                        margin-top: 20px;
                        padding: 0px 20px;
                        color: $primarytext;
                        text-align: center;
                        font-size: 22px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: 140%; 
                        text-transform: capitalize;
                        &:hover{
                            color: $primarybtn;
                            transition: 300ms;
                        }
                    }
                    span{
                        padding-top: 5px;
                        @include dflex;
                        p{
                            color: $tertiarybg;
                            text-align: right;
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 140%; 
                            padding-right: 10px;
                        }
                        h6{
                            color: $primarytext;
                            font-family: 'Space Mono', monospace;
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 140%; 
                        }
                    }
                }
            }
        }
    }
}

@media (max-width:950px){
    .section3{
        padding:  80px 0px;
        background-color: $primarybg;
        .creators{
            width: 100%;
            @include dflex;
            flex-direction: column;
            &__caption{
                width: 100%;
                @include dflex;
                align-items: end;
                div{
                    display: flex;
                    flex-direction: column;
                    h3{
                        color: $primarytext;
                        font-size: 38px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: 120%; 
                        text-transform: capitalize;
                    }
                    p{
                        padding-top: 10px;
                        color: $primarytext;
                        font-size: 22px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 160%;
                        text-transform: capitalize;
                    }
        
                }
                button{
                    @include dflex;
                    @include secondarybutton;
                    a{
                       @include dflex;
                       width: 100%;
                       padding: 0px 50px;
                       gap: 10px;
                       p{
                           color: $primarytext;
                           text-align: center;
                           font-size: 16px;
                           font-style: normal;
                           font-weight: 600;
                           line-height: 140%; 
                       }
                    }
                }
            }
            &__box{
                padding-top: 60px;
                display: grid;
                gap: 30px;
                grid-template-columns: repeat(3,1fr);
                &--item{
                    padding: 20px 25px;
                    background-color: $secondarybg;
                    border-radius: 30px;
                    div{
                        @include dflex;
                        flex-direction: column;
                        a{
                            margin-top: 20px;
                            padding: 0px 20px;
                            color: $primarytext;
                            text-align: center;
                            font-size: 22px;
                            font-style: normal;
                            font-weight: 600;
                            line-height: 140%; 
                            text-transform: capitalize;
                            &:hover{
                                color: $primarybtn;
                                transition: 300ms;
                            }
                        }
                        span{
                            padding-top: 5px;
                            @include dflex;
                            p{
                                color: $tertiarybg;
                                text-align: right;
                                font-size: 16px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: 140%; 
                                padding-right: 10px;
                            }
                            h6{
                                color: $primarytext;
                                font-family: 'Space Mono', monospace;
                                font-size: 16px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: 140%; 
                            }
                        }
                    }
                }
            }
        }
    }
}
@media (max-width:816px){
    .section3{
        padding:  80px 0px;
        background-color: $primarybg;
        .creators{
            width: 100%;
            @include dflex;
            flex-direction: column;
            &__caption{
                width: 100%;
                @include dflex;
                align-items: end;
                div{
                    width: 343px;
                    max-width: 100%;
                    display: flex;
                    flex-direction: column;
                    h3{
                        color: $primarytext;
                        font-size: 28px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: 120%; 
                        text-transform: capitalize;
                    }
                    p{
                        padding-top: 10px;
                        color: $primarytext;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 160%;
                        text-transform: capitalize;
                    }
        
                }
                button{
                    @include dflex;
                    @include secondarybutton;
                    a{
                       @include dflex;
                       width: 100%;
                       padding: 0px 50px;
                       gap: 10px;
                       p{
                           color: $primarytext;
                           text-align: center;
                           font-size: 16px;
                           font-style: normal;
                           font-weight: 600;
                           line-height: 140%; 
                       }
                    }
                }
            }
            &__box{
                padding-top: 60px;
                display: grid;
                gap: 30px;
                grid-template-columns: repeat(2,1fr);
                :nth-child(7){
                    display: none;
                }
                :nth-child(8){
                    display: none;
                }
                :nth-child(9){
                    display: none;
                }
                :nth-child(10){
                    display: none;
                }
                :nth-child(11){
                    display: none;
                }
                :nth-child(12){
                    display: none;
                }
                &--item{
                    @include dflex;
                    padding: 20px;
                    background-color: $secondarybg;
                    border-radius: 30px;
                    gap: 20px;
                    div{
                        img{
                            width: 60px;
                            height: 60px;
                        }
                    }
                    div{
                        @include dflex;
                        flex-direction: column;
                        align-items: start;
                        a{
                            text-align: start;
                            margin: 0px;
                            padding: 0px;
                            color: $primarytext;
                            font-size: 22px;
                            font-style: normal;
                            font-weight: 600;
                            line-height: 140%; 
                            text-transform: capitalize;
                            &:hover{
                                color: $primarybtn;
                                transition: 300ms;
                            }
                        }
                        span{
                            width: 100%;
                            @include dflex;
                            p{
                                color: $tertiarybg;
                                text-align: right;
                                font-size: 16px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: 140%; 
                            }
                            h6{
                                color: $primarytext;
                                font-family: 'Space Mono', monospace;
                                font-size: 16px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: 140%; 
                            }
                        }
                    }
                }

            }
        }
    }
}
@media (max-width:690px){
    .section3{
        padding:  80px 0px;
        background-color: $primarybg;
        .creators{
            width: 100%;
            @include dflex;
            flex-direction: column;
            &__caption{
                width: 100%;
                @include dflex;
                flex-direction: column;
                div{
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    h3{
                        color: $primarytext;
                        font-size: 28px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: 120%; 
                        text-transform: capitalize;
                    }
                    p{
                        padding-top: 10px;
                        color: $primarytext;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 160%;
                        text-transform: capitalize;
                    }
        
                }
                button{
                    margin-top: 1200px;
                    // margin-bottom: 40px;
                    position: absolute;
                    @include dflex;
                    @include secondarybutton;
                    a{
                       @include dflex;
                       width: 100%;
                       padding: 0px 50px;
                       gap: 10px;
                       p{
                           color: $primarytext;
                           text-align: center;
                           font-size: 16px;
                           font-style: normal;
                           font-weight: 600;
                           line-height: 140%; 
                       }
                    }
                }
            }
            &__box{
                padding-top: 60px;
                display: grid;
                gap: 30px;
                grid-template-columns: repeat(1,1fr);
                :nth-child(7){
                    display: none;
                }
                :nth-child(8){
                    display: none;
                }
                :nth-child(9){
                    display: none;
                }
                :nth-child(10){
                    display: none;
                }
                :nth-child(11){
                    display: none;
                }
                :nth-child(12){
                    display: none;
                }
                &--item{
                    @include dflex;
                    padding: 40px;
                    background-color: $secondarybg;
                    border-radius: 30px;
                    gap: 30px;
                    div{
                        img{
                            width: 60px;
                            height: 60px;
                        }
                    }
                    div{
                        @include dflex;
                        flex-direction: column;
                        align-items: start;
                        a{
                            text-align: start;
                            margin: 0px;
                            padding: 0px;
                            color: $primarytext;
                            font-size: 22px;
                            font-style: normal;
                            font-weight: 600;
                            line-height: 140%; 
                            text-transform: capitalize;
                            &:hover{
                                color: $primarybtn;
                                transition: 300ms;
                            }
                        }
                        span{
                            width: 100%;
                            @include dflex;
                            p{
                                color: $tertiarybg;
                                text-align: right;
                                font-size: 16px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: 140%; 
                            }
                            h6{
                                color: $primarytext;
                                font-family: 'Space Mono', monospace;
                                font-size: 16px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: 140%; 
                            }
                        }
                    }
                }

            }
        }
    }
}
@media (max-width:400px){
    .section3{
        padding:  80px 0px;
        background-color: $primarybg;
        .creators{
            width: 100%;
            @include dflex;
            flex-direction: column;
            &__caption{
                width: 100%;
                @include dflex;
                // align-items: end;
                div{
                    display: flex;
                    flex-direction: column;
                    h3{
                        color: $primarytext;
                        font-size: 28px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: 120%; 
                        text-transform: capitalize;
                    }
                    p{
                        padding-top: 10px;
                        color: $primarytext;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 160%;
                        text-transform: capitalize;
                    }
        
                }
                button{
                    margin-top: 920px;
                    position: absolute;
                    @include dflex;
                    @include secondarybutton;
                    a{
                       @include dflex;
                       width: 100%;
                       padding: 0px 50px;
                       gap: 10px;
                       p{
                           color: $primarytext;
                           text-align: center;
                           font-size: 16px;
                           font-style: normal;
                           font-weight: 600;
                           line-height: 140%; 
                       }
                    }
                }
            }
            &__box{
                padding-top: 40px;
                display: grid;
                gap: 30px;
                grid-template-columns: repeat(1,1fr);
                :nth-child(7){
                    display: none;
                }
                :nth-child(8){
                    display: none;
                }
                :nth-child(9){
                    display: none;
                }
                :nth-child(10){
                    display: none;
                }
                :nth-child(11){
                    display: none;
                }
                :nth-child(12){
                    display: none;
                }
                &--item{
                    @include dflex;
                    padding: 20px;
                    background-color: $secondarybg;
                    border-radius: 30px;
                    gap: 20px;
                    div{
                        img{
                            width: 60px;
                            height: 60px;
                        }
                    }
                    div{
                        @include dflex;
                        flex-direction: column;
                        align-items: start;
                        a{
                            text-align: start;
                            margin: 0px;
                            padding: 0px;
                            color: $primarytext;
                            font-size: 22px;
                            font-style: normal;
                            font-weight: 600;
                            line-height: 140%; 
                            text-transform: capitalize;
                            &:hover{
                                color: $primarybtn;
                                transition: 300ms;
                            }
                        }
                        span{
                            width: 100%;
                            @include dflex;
                            p{
                                color: $tertiarybg;
                                text-align: right;
                                font-size: 16px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: 140%; 
                            }
                            h6{
                                color: $primarytext;
                                font-family: 'Space Mono', monospace;
                                font-size: 16px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: 140%; 
                            }
                        }
                    }
                }

            }
        }
    }
}