.section5{
    background-color: $primarybg;
    padding: 80px 0;
    .discover{
        width: 100%;
        @include dflex;
        flex-direction: column;
        &__caption{
            width: 100%;
            @include dflex;
            div{

                @include dflex;
                flex-direction: column;
                align-items: start;
                h2{
                    color: $primarytext;
                    font-size: 38px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 120%; 
                    text-transform: capitalize;
                }
                p{
                    color: $primarytext;
                    font-size: 22px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 160%; 
                    text-transform: capitalize;
                }

            }
            button{
                @include secondarybutton;
                a{
                    @include dflex;
                    gap: 10px;
                    padding: 0 50px;
                    p{
                        color: $primarytext;
                        text-align: center;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: 140%; 
                    }
                    
                }
            }
        }
        &__cards{
            padding-top: 60px;
            width: 100%;
            @include dflex;
            &--all{            
                background-color: $secondarybg;
                border-radius: 20px;
                @include dflex;
                flex-direction: column;
                &__bottom{
                    width: 100%;
                    @include dflex;
                    flex-direction: column;
                    align-items: start;
                    padding: 20px 30px 25px;
                    h5{
                        color: $primarytext;
                        font-size: 22px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: 140%;
                        text-transform: capitalize;

                    }
                    span{
                        padding-top: 5px;
                        display: flex;
                        gap: 10px;
                        p{
                            color: $primarytext;
                            font-family: 'Space Mono' , monospace;
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 140%; 
                        }
                    }
                    .discover__price{
                        padding-top: 25px;
                        width: 100%;
                        @include dflex;
                        :last-child{
                            text-align: end;
                        }
                        div{
                            h6{
                                color: #858584;
                                font-family: 'Space Mono' , monospace;
                                font-size: 12px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: 110%;

                            }
                            p{
                                color: $primarytext;
                                font-family: "Space Mono";
                                font-size: 16px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: 140%; 
                            }


                        }


                    }

                }

            }
        }

    }
}